body {
	background-color: #141414;
}
@media (max-width: 767px) {
  .mdiv {
    width: 100%;
    position: block;
  }
}
@media (min-width: 768px) {
  .mdiv {
    width: 500px;
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
  }
}
.header {
	width:1%;
}
.header a {
	color: #fff;
	font-family: monospace;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}
.footer {
	width: 100%;
}
.footer p {
	font-family: monospace;
	color: #656565;
	margin: 0 0 0 0;
}
.content {
	margin: 3px 0 3px 0;
	width: 100%;
	background-color: #242424;
	border-radius: 8px;
	background-position: center;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	margin: 2px 5px 2px 5px;
	font-family: monospace;
	font-weight: bold;
}
p {
	color: #989898;
	margin: 2px 5px 2px 5px;
	font-family: monospace;
}
strong {
	font-weight: bolder;
	color: #fff;
}
.a1 {
	font-weight: bold;
	color: #aaa;
	text-decoration: none;
	font-weight: cursive;
}
